.offer {
    &__card {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 2rem 2rem;
    }

    &__left-column {
        width: 70%
    }

    &__right-column {
        width: 30%;
        flex: none;
        margin-left: 2rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: black;
        font-size: 2.4rem;
        line-height: 2.4rem;
        margin-bottom: .6rem;
        font-weight: normal;
        padding-right: 3rem;
    }

    &__address {
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    &__field {
        line-height: 2rem;
        margin-bottom: 1rem;

        p {
            font-weight: bold;
        }

        span {
            font-weight: normal;
        }
    }

    &__description {
        border-top: 1px solid $gray;
        margin-top: 2rem;
        padding-top: 2rem;
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    &__phone-box {
        border: 1px solid #919191;
        font-size: 1.8rem;
        font-weight: bold;
        min-height: 8.6rem;
        width: 34.2rem;
        text-align: center;
    }

    &__phone-link {
        display: inline-block;
        padding-top: 1rem;
        color: $red;
        font-weight: bold;
        position: relative;
        cursor: pointer;
    }

    &__phone-contact {
        padding-top: 2.7rem;
        margin-bottom: 2.7rem;
    }

    &__map-box {
        margin-bottom: 3rem;
    }

    &__map {
        height: 50rem;
    }
}
