.red {
    color: $red !important;
}

.gray {
    color: $gray !important;
}

.green {
    color: $green !important;
}

.fll {
    float: left !important;
}

.flr {
    float: right !important;
}

.oh {
    overflow: hidden !important;
}

.dn {
    display: none !important;
}

.db {
    display: block !important;
}

.dib {
    display: inline-block !important;
}

.r {
    text-align: right !important;
}

.l {
    text-align: left !important;
}

.c {
    text-align: center !important;
}

.rel {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.nobr {
    white-space: nowrap !important;
}

.b, .bold {
    font-weight: bold !important;
}

.mt0 {
    margin-top: 0 !important
}

.mt10 {
    margin-top: 1rem !important
}

.mt20 {
    margin-top: 2rem !important
}

.mr7 {
    margin-right: .7rem !important;
}

.mb7 {
    margin-bottom: .7rem !important;
}

.mb10 {
    margin-bottom: 1rem !important;
}

.mb15 {
    margin-bottom: 1.5rem !important;
}

.mb19 {
    margin-bottom: 1.9rem !important;
}

.mb20 {
    margin-bottom: 2rem !important
}

.mb30 {
    margin-bottom: 3rem !important;
}

.ml7 {
    margin-left: .7rem !important;
}

.ml30 {
    margin-left: 3rem !important;
}
