@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Войти — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>

    @Html.Partial("_Header", 0)

    <main>
        <div class="wrap">
            <div class="login__wrap">
                <h1 class="login__title">Форма для входа на сайт</h1>
                <form id="login-form" class="login__form">
                    <div class="login-error"></div>
                    <div class="login__field">
                        <label for="Email">Ваш адрес электронной почты <span class="login__required">*</span></label>
                        <input type="text" name="Email" placeholder="Адрес электронной почты" />
                        <span class="text-error"></span>
                    </div>
                    <div class="login__field">
                        <label for="Password">Пароль <span class="login__required">*</span></label>
                        <input type="password" name="Password" placeholder="Пароль" />
                        <span class="text-error"></span>
                    </div>
                    <input type="submit" class="btn btn--red login__btn" value="Войти" />
                </form>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script type="text/javascript">
        $(function () {
            $('#login-form').validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    Email: {
                        required: 'Введите адрес электронной почты',
                        email: 'Введите корректный адрес электронной почты'
                    },
                    Password: {
                        required: 'Введите пароль',
                        minlength: $.validator.format('Пароль должен быть длиннее {0} символов')
                    }
                },
                errorElement: 'span',
                errorClass: 'login__field-error',
                submitHandler: SendLoginData
            });
        });

        function SendLoginData() {
            var data = {
                Email: $("input[name='Email']").val(),
                Password: $("input[name='Password']").val(),
            }
            $.post('/api/account/login/', data, function (result) {
                if (result.success) {
                    location.href = '/profile/';
                }
                else if (result['err-messages']) {
                    $('.login-error').html('<p class="login__field-error">Не удалось войти</p>')
                }
            });
        }
    </script>
</body>
</html>