@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>

    @Html.Partial("_Header", 0)

    <main>
        <div class="wrap">
            <div class="frame shadow form-additem">

                <h1>Регистрация</h1>

                <form id="registration-form" method="post">
                    <label for="Email">E-mail:</label>
                    <input type="text" name="Email" required />

                    <label for="Name">Имя:</label>
                    <input type="text" name="Name" required />

                    <label for="Phone">Телефон:</label>
                    <input type="text" name="Phone" />

                    <label for="Password">Пароль:</label>
                    <input type="password" name="Password" required />

                    <input type="submit" />
                </form>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script type="text/javascript">
        $(function () {
            $('#registration-form').submit(function (event) {
                var data = {
                    Email: $("input[name='Email']").val(),
                    Name: $("input[name='Name']").val(),
                    Phone: $("input[name='Phone']").val(),
                    Password: $("input[name='Password']").val(),
                }
                $.post('/api/account/registration/', data, function (res) {
                    if (res.success) {
                        location.href = '/';
                    }
                    else if (res['err-messages']) {
                        alert('Ошибка');
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</body>
</html>