@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @Scripts.Render("~/bundles/inputmask")
</head>
<body>

    @Html.Partial("_Header", 0)

    <main>
        <div class="wrap">
            <div class="registration__wrap">
                <h1 class="registration__title">Форма для регистрации</h1>
                <form id="registration-form" class="registration__form">
                    <div class="registration-error"></div>
                    <div class="registration__field">
                        <label for="Email">Ваш адрес электронной почты <span class="registration__required">*</span></label>
                        <input type="text" name="Email" placeholder="Адрес электронной почты" />
                        <span class="text-error"></span>
                    </div>
                    <div class="registration__field">
                        <label for="Name">Ваше имя</label>
                        <input type="text" name="Name" placeholder="Имя" />
                        <span class="text-error"></span>
                    </div>
                    <div class="registration__field">
                        <label for="Phone">Ваш телефон</label>
                        <input type="tel" name="Phone" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="Телефон" />
                        <span class="text-error"></span>
                    </div>
                    <div class="registration__field">
                        <label for="Password">Пароль <span class="registration__required">*</span></label>
                        <input type="password" name="Password" placeholder="Пароль" />
                        <span class="text-error"></span>
                    </div>
                    <input type="submit" class="btn btn--red registration__btn" value="Зарегистрировать" />
                </form>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script type="text/javascript">
        $(function () {
            $('#registration-form').validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    Email: {
                        required: 'Введите адрес электронной почты',
                        email: 'Введите корректный адрес электронной почты'
                    },
                    Password: {
                        required: 'Введите пароль',
                        minlength: $.validator.format('Пароль должен быть длиннее {0} символов')
                    }
                },
                errorElement: 'span',
                errorClass: 'registration__field-error',
                submitHandler: SendRegistrationData
            });
        });

        function SendRegistrationData() {
            var data = {
                Email: $("input[name='Email']").val(),
                Name: $("input[name='Name']").val(),
                Phone: $("input[name='Phone']").val(),
                Password: $("input[name='Password']").val(),
            }
            $.post('/api/account/registration/', data, function (res) {
                if (res.success) {
                    location.href = '/profile/';
                }
                else if (res['err-messages']) {
                    $('.registration-error').html('<p class="registration__field-error">Не удалось зарегистрироваться</p>')
                }
            });
        }
    </script>
</body>
</html>