/*$red*/
/*@mixin transition($prop: all, $duration: .3s, $function: ease, $delay: 0s) {
    -webkit-transition: $prop $duration $function $delay;
    -moz-transition: $prop $duration $function $delay;
    transition: $prop $duration $function $delay;
}*/
/*
    .transition(@prop: all, @duration: .3s, @function: ease, @delay: 0s){
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
          transition: @arguments;
}
*/
/*$red*/
/*@mixin transition($prop: all, $duration: .3s, $function: ease, $delay: 0s) {
    -webkit-transition: $prop $duration $function $delay;
    -moz-transition: $prop $duration $function $delay;
    transition: $prop $duration $function $delay;
}*/
/*
    .transition(@prop: all, @duration: .3s, @function: ease, @delay: 0s){
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
          transition: @arguments;
}
*/
@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-Medium.eot");
  src: local("DIN Pro Medium"), local("DINPro-Medium"), url("DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("DINPro-Medium.woff") format("woff"), url("DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-BlackItalic.eot");
  src: local("DIN Pro Black Italic"), local("DINPro-BlackItalic"), url("DINPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-BlackItalic.woff") format("woff"), url("DINPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedBlackItalic.eot");
  src: local("DIN Pro Condensed Black Italic"), local("DINPro-CondensedBlackItalic"), url("DINPro-CondensedBlackItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedBlackItalic.woff") format("woff"), url("DINPro-CondensedBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedMedium.eot");
  src: local("DIN Pro Condensed Medium"), local("DINPro-CondensedMedium"), url("DINPro-CondensedMedium.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedMedium.woff") format("woff"), url("DINPro-CondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-MediumItalic.eot");
  src: local("DIN Pro Medium Italic"), local("DINPro-MediumItalic"), url("DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-MediumItalic.woff") format("woff"), url("DINPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-Bold.eot");
  src: local("DIN Pro Bold"), local("DINPro-Bold"), url("DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("DINPro-Bold.woff") format("woff"), url("DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-Light.eot");
  src: local("DIN Pro Light"), local("DINPro-Light"), url("DINPro-Light.eot?#iefix") format("embedded-opentype"), url("DINPro-Light.woff") format("woff"), url("DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedMediumItalic.eot");
  src: local("DIN Pro Condensed Medium Italic"), local("DINPro-CondensedMediumItalic"), url("DINPro-CondensedMediumItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedMediumItalic.woff") format("woff"), url("DINPro-CondensedMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-Italic.eot");
  src: local("DIN Pro Italic"), local("DINPro-Italic"), url("DINPro-Italic.eot?#iefix") format("embedded-opentype"), url("DINPro-Italic.woff") format("woff"), url("DINPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro.eot");
  src: local("DIN Pro"), local("DINPro"), url("DINPro.eot?#iefix") format("embedded-opentype"), url("DINPro.woff") format("woff"), url("DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedBlack.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-CondensedBlack"), url("DINPro-CondensedBlack.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedBlack.woff") format("woff"), url("DINPro-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedBold.eot");
  src: local("DIN Pro Condensed Bold"), local("DINPro-CondensedBold"), url("DINPro-CondensedBold.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedBold.woff") format("woff"), url("DINPro-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-Black.eot");
  src: local("DIN Pro Black"), local("DINPro-Black"), url("DINPro-Black.eot?#iefix") format("embedded-opentype"), url("DINPro-Black.woff") format("woff"), url("DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-LightItalic.eot");
  src: local("DIN Pro Light Italic"), local("DINPro-LightItalic"), url("DINPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-LightItalic.woff") format("woff"), url("DINPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedBoldItalic.eot");
  src: local("DIN Pro Condensed Bold Italic"), local("DINPro-CondensedBoldItalic"), url("DINPro-CondensedBoldItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedBoldItalic.woff") format("woff"), url("DINPro-CondensedBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedRegular.eot");
  src: local("DIN Pro Condensed Regular"), local("DINPro-CondensedRegular"), url("DINPro-CondensedRegular.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedRegular.woff") format("woff"), url("DINPro-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedItalic.eot");
  src: local("DIN Pro Condensed Italic"), local("DINPro-CondensedItalic"), url("DINPro-CondensedItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedItalic.woff") format("woff"), url("DINPro-CondensedItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedLightItalic.eot");
  src: local("DIN Pro Condensed Light Italic"), local("DINPro-CondensedLightItalic"), url("DINPro-CondensedLightItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedLightItalic.woff") format("woff"), url("DINPro-CondensedLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'DIN Pro Cond';
  src: url("DINPro-CondensedLight.eot");
  src: local("DIN Pro Condensed Light"), local("DINPro-CondensedLight"), url("DINPro-CondensedLight.eot?#iefix") format("embedded-opentype"), url("DINPro-CondensedLight.woff") format("woff"), url("DINPro-CondensedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'DIN Pro';
  src: url("DINPro-BoldItalic.eot");
  src: local("DIN Pro Bold Italic"), local("DINPro-BoldItalic"), url("DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("DINPro-BoldItalic.woff") format("woff"), url("DINPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, span {
  border: none; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

abbr, acronym {
  border: none; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
  font-size: .65em; }

sub {
  top: .4em; }

small, .small {
  font-size: .86em; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main, time {
  display: block; }

* {
  box-sizing: border-box; }

input[type="number"] {
  -moz-appearance: textfield; }
  input[type="number"]::-webkit-inner-spin-button {
    display: none; }

textarea {
  -webkit-appearance: none; }

.red {
  color: #ee2d24 !important; }

.gray {
  color: #999 !important; }

.green {
  color: #16ad97 !important; }

.fll {
  float: left !important; }

.flr {
  float: right !important; }

.oh {
  overflow: hidden !important; }

.dn {
  display: none !important; }

.db {
  display: block !important; }

.dib {
  display: inline-block !important; }

.r {
  text-align: right !important; }

.l {
  text-align: left !important; }

.c {
  text-align: center !important; }

.rel {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.nobr {
  white-space: nowrap !important; }

.b, .bold {
  font-weight: bold !important; }

.mt0 {
  margin-top: 0 !important; }

.mt10 {
  margin-top: 1rem !important; }

.mt20 {
  margin-top: 2rem !important; }

.mr7 {
  margin-right: .7rem !important; }

.mb7 {
  margin-bottom: .7rem !important; }

.mb10 {
  margin-bottom: 1rem !important; }

.mb15 {
  margin-bottom: 1.5rem !important; }

.mb19 {
  margin-bottom: 1.9rem !important; }

.mb20 {
  margin-bottom: 2rem !important; }

.mb30 {
  margin-bottom: 3rem !important; }

.ml7 {
  margin-left: .7rem !important; }

.ml30 {
  margin-left: 3rem !important; }

html {
  font-size: 62.5%; }

body, html {
  height: 100%; }

body {
  font-size: 1.4rem;
  -webkit-text-size-adjust: 100%;
  font-family: PTSansRegular,'DIN Pro', sans-serif;
  background: #f0f0f0;
  color: #333;
  min-width: 120rem; }

img {
  display: block; }

a {
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #2288FF; }
  a:hover {
    color: #2288FF; }
  a[href^="tel:"] {
    color: inherit;
    text-decoration: none; }

.pseudo {
  display: inline-block;
  line-height: 1.05;
  cursor: pointer;
  color: #2288FF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem; }

.pseudo-link {
  display: inline-block;
  line-height: 1.05;
  cursor: pointer;
  border-bottom: .1rem dotted; }

.main-body {
  min-width: 120rem; }

.main-wrap {
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
  min-width: 120rem; }
  .main-wrap--white-bg {
    background: #fff; }

.left-column {
  flex: 0 0 30.9rem;
  margin-right: 3rem; }

.right-column {
  flex: 0 0 24rem;
  margin-left: 2rem; }

.content-wrap {
  flex: 1 0 auto;
  padding-bottom: 5rem; }
  .content-wrap_map {
    padding-bottom: 0;
    margin-top: 2rem; }

.content-box {
  width: 100%;
  /*overflow: hidden;*/ }

.columns-box {
  display: flex;
  align-items: flex-start; }

.wrap {
  margin: 0 auto;
  padding: 0 1rem;
  min-width: 100rem;
  max-width: 102rem;
  width: 100%; }
  .wrap_min {
    width: 96rem; }

.h1, .h2, .h3 {
  font-weight: normal; }

.h1 {
  font-size: 3rem; }

.h3 {
  font-size: 2.1rem; }

.inline-block {
  display: inline-block; }

.link-click {
  color: #2288FF;
  cursor: pointer;
  text-decoration: underline; }

.frame {
  background: #fff;
  border-radius: 0.2rem; }

.main-page__content {
  max-width: 128rem;
  min-width: 120rem;
  margin: 0 auto;
  padding: 0 6.4rem; }

.footer {
  background: #151b23;
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  width: 100%; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0.6rem 0; }
  .footer__col {
    display: flex; }
    .footer__col:first-child p + p {
      margin-left: 5rem; }
  .footer__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 740px; }
  .footer__nav-item {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
  .footer__relinks {
    align-items: center;
    font-size: 1.3rem;
    line-height: 2rem;
    text-decoration: none;
    width: 300px;
    text-decoration: none;
    overflow: hidden; }
    .footer__relinks a {
      color: #969696 !important; }
  .footer__copyright {
    display: flex;
    flex-direction: column; }
  .footer__copyright-item {
    line-height: 2.6rem; }
  .footer__copyright-company {
    display: flex; }
  .footer__copyright-company-name {
    position: relative;
    margin-right: 0.5rem;
    top: 0.5rem; }
  .footer__contacts {
    line-height: 2.6rem;
    text-align: right; }
  .footer a {
    text-decoration: none;
    color: #fff; }
    .footer a:hover {
      color: #fff; }

@media (max-width: 1160px) {
  .footer__col:first-child p + p {
    margin-left: 4rem; }
  .footer__nav {
    margin-right: 4rem; } }

.main-header {
  margin-bottom: 2rem;
  flex: 0 0 auto;
  background: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15); }
  .main-header__content {
    height: 6.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 1.5rem; }
  .main-header__item {
    display: flex; }
    .main-header__item--left {
      height: 6.8rem; }
    .main-header__item .logo {
      width: 30.9rem;
      line-height: 6.8rem; }
      .main-header__item .logo img {
        display: inline-block;
        vertical-align: middle;
        width: 60px; }

.logo {
  position: relative;
  margin-top: -.3rem; }

.main-menu {
  display: flex;
  font-size: 1.8rem;
  position: relative; }
  .main-menu__item {
    height: 6.8rem;
    line-height: 7rem;
    color: inherit;
    text-decoration: none;
    border-bottom: .3rem solid transparent; }
    .main-menu__item.active {
      border-color: #ee2d24;
      cursor: default; }
    .main-menu__item:hover {
      color: inherit; }
    .main-menu__item + .main-menu__item {
      margin-left: 3rem; }

.header-nav__item {
  margin-left: 3.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #ee2d24;
  font-weight: bold; }
  .header-nav__item_create-ad {
    display: inline-block;
    position: relative; }
    .header-nav__item_create-ad:before {
      content: "\002B";
      position: absolute;
      display: block;
      left: -2.5rem;
      top: -0.4rem;
      display: block;
      font-size: 2.4rem;
      color: #ee2d24; }
  .header-nav__item:hover {
    color: #ee2d24 #ee2d24; }

.shadow {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15); }

.btn {
  -webkit-appearance: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 2rem;
  cursor: pointer;
  border-radius: .4rem;
  border: none;
  height: 4rem;
  font-size: 1.4rem;
  font-family: PTSansRegular,'DIN Pro', sans-serif;
  outline: none; }
  .btn--white {
    background: #fff;
    border: .1rem solid #EBEBEB; }
  .btn--red {
    background: #ee2d24;
    color: #fff; }
  .btn--blue {
    background: #2288FF;
    color: #fff; }
    .btn--blue:hover {
      background: #1D7BE6; }
  .btn--green {
    background: #16ad97;
    color: #fff; }
  .btn--border-green {
    border: 0.1rem solid #16ad97;
    color: #16ad97; }
  .btn--small {
    height: 3.5rem;
    line-height: 3.5rem; }

.full-description-btn {
  /*.transition(border-color);*/
  -webkit-appearance: none;
  user-select: none;
  white-space: nowrap;
  height: 3.5rem;
  line-height: 3.2rem;
  padding: 0 2.5rem;
  border: .1rem solid #eee;
  display: inline-block;
  cursor: pointer; }
  .full-description-btn:hover {
    border-color: #ccc; }

.show-more-btn {
  transition: color .3s ease, border-color .3s ease;
  border: 1px solid #cccccc;
  font-size: 1.6rem;
  height: 3.7rem;
  line-height: 3.5rem;
  position: relative;
  width: 20.7rem; }
  .show-more-btn:hover {
    color: #16ad97;
    border-color: #16ad97; }
    .show-more-btn:hover .text-icon {
      /*.transition(color);*/
      color: #16ad97; }
  .show-more-btn .text-icon {
    margin-left: .6rem;
    position: relative;
    top: .2rem; }

select {
  width: 20rem;
  border-color: #ee2d24;
  border-radius: 0.2rem; }

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0.6rem 0 0.7rem 0; }
  .pagination__list {
    display: flex;
    align-items: center; }
  .pagination__item + .pagination__item {
    margin-left: 1rem; }
  .pagination__link {
    border-bottom: .3rem solid transparent;
    width: 3rem;
    display: block;
    height: 3.7rem;
    font-size: 1.5rem;
    line-height: 3.7rem;
    text-decoration: none;
    color: inherit; }
    .pagination__link.active {
      color: #ee2d24; }
      .pagination__link.active:hover {
        color: #ee2d24; }
    .pagination__link:hover {
      color: #ee2d24; }
  .pagination__arrow {
    background: no-repeat 50%;
    position: relative;
    cursor: pointer; }
    .pagination__arrow:hover::before {
      opacity: 1; }
    .pagination__arrow::before {
      content: '';
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: no-repeat 50%;
      z-index: 1;
      opacity: 0; }
    .pagination__arrow--prev {
      background-image: url("/content/img/pagination-arrow-prev.svg"); }
      .pagination__arrow--prev::before {
        background-image: url("/content/img/pagination-arrow-prev-blue.svg"); }
    .pagination__arrow--next {
      background-image: url("/content/img/pagination-arrow-next.svg"); }
      .pagination__arrow--next::before {
        background-image: url("/content/img/pagination-arrow-next-blue.svg"); }

.search {
  margin-bottom: 2.5rem; }
  .search-content {
    padding: 1.5rem; }
  .search-title {
    margin-bottom: 1rem; }
  .search-row {
    display: flex;
    justify-content: space-around; }
    .search-row__item {
      display: flex; }
  .search-btn {
    width: 20rem; }

.info {
  margin-bottom: 2.5rem; }
  .info-content {
    padding: 1.5rem; }
  .info-title {
    margin-bottom: 1rem; }
  .info-table {
    text-align: center;
    margin: 0 auto; }
  .info-plus {
    color: #ee2d24;
    font-weight: bold; }

.listing {
  margin-bottom: 2.5rem; }
  .listing__item + .listing__item {
    margin-top: 2rem; }

.offer-snippet {
  display: flex;
  height: 22.5rem;
  background: #fff;
  color: inherit;
  text-decoration: none; }
  .offer-snippet:hover {
    box-shadow: 0 0.2rem 0.5rem rgba(177, 177, 177, 0.5);
    color: inherit; }
  .offer-snippet__content-box {
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    width: 100%; }
  .offer-snippet__content {
    position: relative;
    padding: 2rem 3rem 1.5rem;
    max-height: 16.5rem; }
    @media only screen and (max-width: 1130px) {
      .offer-snippet__content {
        padding: 2rem 2rem 1.5rem; } }
  .offer-snippet__footer {
    border-top: 0.1rem solid #ebebeb;
    padding: 2rem 5.9rem 1.5rem 3rem;
    margin-top: auto;
    min-height: 7.5rem;
    position: relative; }

.offer-snippet-gallery {
  flex: 1 0 auto;
  overflow: hidden;
  max-width: 22.5rem; }
  @media only screen and (max-width: 1130px) {
    .offer-snippet-gallery {
      width: 15rem; } }
  .offer-snippet-gallery__img {
    position: relative;
    left: 50%;
    min-height: 100%; }

.offer__card {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 2rem 2rem; }

.offer__header {
  display: flex;
  justify-content: space-between; }

.offer__title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: .6rem;
  font-weight: normal;
  padding-right: 3rem; }

.offer__location {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2rem;
  padding-top: .2rem; }

.offer__address {
  line-height: 2rem;
  margin-bottom: 3.2rem; }

.offer__description {
  line-height: 2.06rem;
  margin-bottom: 2.3rem; }

.offer__phone-box {
  border: 1px solid #919191;
  font-size: 1.8rem;
  font-weight: bold;
  min-height: 8.6rem;
  width: 34.2rem;
  text-align: center; }

.offer__phone-link {
  border-bottom: 1px dotted;
  color: #ee2d24;
  font-weight: bold;
  margin-left: 2.4rem;
  width: 18rem;
  position: relative;
  cursor: pointer; }
  .offer__phone-link::before {
    content: '';
    /*background: no-repeat e('0 0 / 100% 100%') url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAYFBMVEUAAAB+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5yRI6SAAAAH3RSTlMAlz4D4IrEpPTw43UzD+vSnJBMGQa8uLJ5a1crk39cZYfE6AAAAMdJREFUOMuFktkOgyAQRZFNAdG61WqX+f+/bEMyHUwGPU8k9wSYmxGJoXmLMyoAaC9yuJ/lCXmRgy3kAZCRFzQgvWIFIHZWcCTUrGBJ2FjBAHITLJIe4FE4xkcUeECi3HV0WNTVFT4WhBl/sQqCH+QlCL6LofSI/Zcx88bk0VhiKsd0y3EHnw4NPf7yOlU/5UbbALLuNSTcpvJRyCB6md/RAYPJ/+EZoTnMYingm1HYWHmJZA85FbM/oeNzIgZNeQFprAcd0vkLBt0pW2jTxT8AAAAASUVORK5CYII=');*/
    position: absolute;
    right: 100%;
    top: 50%;
    margin-right: .6rem; }

.offer__phone-contact {
  padding-top: 2.7rem;
  margin-bottom: 2.7rem; }
  .offer__phone-contact_brand {
    padding-top: 1rem;
    margin-bottom: 2.7rem; }

.offer__phone-brand-bottom-line {
  height: .5rem; }

.offer-phone-img {
  height: 3.5rem; }
  .offer-phone-img_top {
    padding-left: .7rem; }
    .offer-phone-img_top img {
      max-width: 100%;
      max-height: 3.5rem; }
  .offer-phone-img_center {
    margin-top: 1.9rem;
    margin-bottom: 1.6rem; }
    .offer-phone-img_center img {
      margin: 0 auto;
      width: 96px; }

