.info {
    margin-bottom: 2.5rem;

    &-content {
        padding: 2rem 3rem;
    }

    &-title {
        margin-bottom: 1rem;
    }

    &-table {
        text-align: center;
        margin: 0 auto;
    }

    &__block-title {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    &__video {
        margin: auto;
        display: block;
        width: 75rem;
        height: 42rem;
    }

    &-plus {
        color: $red;
        font-weight: bold;
    }
}
