.search {
    margin-bottom: 2.5rem;

    &-content {
        padding: 2rem 3rem;
    }

    &-title {
        margin-bottom: 1rem;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__item {

            &-title {
                margin-bottom: 1rem;
            }

            &-btn {
                display: flex;
                align-items: center;
            }
        }
    }

    &-btn {
        width: 20rem;
    }
}
