
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.slides.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="wrap">

            <div class="search shadow" id="slides">
                <img src="http://placehold.it/940x400">
                <img src="http://placehold.it/940x400">
            </div>

            <div class="frame shadow search">
                <div class="search-content">
                    <h2 class="search-title">Поиск объявлений</h2>
                    <div class="search-row">
                        <div class="search-row__item">
                            <select name="">
                                <option selected disabled>Выберите группу крови</option>
                                <option value="">O(I) Rh−</option>
                                <option value="">O(I) Rh+</option>
                                <option value="">A(II) Rh−</option>
                                <option value="">A(II) Rh+</option>
                                <option value="">B(III) Rh−<</option>
                                <option value="">B(III) Rh+</option>
                                <option value="">AB(IV) Rh−</option>
                                <option value="AB(IV) Rh+"></option>
                            </select>
                        </div>
                        <div class="search-row__item">
                            <select name="">
                                <option selected disabled>Выберите город</option>
                                <option value="1">Москва</option>
                                <option value="31">Белгород</option>
                            </select>
                        </div>
                        <div class="search-row__item">
                            <input type="button" class="btn btn--red search-btn" value="Поиск" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="frame shadow">
                <h1>Добро пожаловать</h1>

                <a href="/">Ссылка</a>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</p>
                <table class="wikitable" border="1" style="text-align:center">
                    <caption>Таблица совместимости эритроцитов</caption>
                    <tbody>
                        <tr>
                            <th rowspan="2">Реципиент</th>
                            <th colspan="8">Донор</th>
                        </tr>
                        <tr>
                            <th style="width:6em">O(I) Rh−</th>
                            <th style="width:6em">O(I) Rh+</th>
                            <th style="width:6em">A(II) Rh−</th>
                            <th style="width:6em">A(II) Rh+</th>
                            <th style="width:6em">B(III) Rh−</th>
                            <th style="width:6em">B(III) Rh+</th>
                            <th style="width:6em">AB(IV) Rh−</th>
                            <th style="width:6em">AB(IV) Rh+</th>
                        </tr>
                        <tr>
                            <th>O(I) Rh-</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>O(I) Rh+</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>A(II) Rh-</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>A(II) Rh+</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>B(III) Rh−</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>B(III) Rh+</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>AB(IV) Rh-</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>AB(IV) Rh+</th>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                            <td><a href="//commons.wikimedia.org/wiki/File:Yes_check.svg?uselang=ru" class="image" title="Да"><img alt="Да" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/15px-Yes_check.svg.png" width="15" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/23px-Yes_check.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/30px-Yes_check.svg.png 2x" data-file-width="600" data-file-height="600"></a><span style="display:none;">Y</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
    @Html.Partial("_Footer")

    <script>
        $(function () {

            $("#slides").slidesjs({
                width: 940,
                height: 400,
                navigation: {
                    active: false,
                    effect: "slide"
                },
                pagination: {
                    active: false,
                    effect: "slide"
                },
                play: {
                    active: true,
                    effect: "slide",
                    interval: 5000,
                    auto: true,
                    swap: true,
                    pauseOnHover: false,
                    restartDelay: 2500
                }
            });

            $('.slidesjs-stop').hide();
        });
    </script>
</body>
</html>