
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="wrap">
            <div class="search">
                <div>
                    <input type="text" placeholder="Город..." />
                    <input type="button" value="Поиск" />
                </div>
            </div>

            @*<div id="yadonor_widget_news">
                <script type="text/javascript">
                    var widgetOptions = { count: 10, region: 0, widget_fontsize: '16', widget_fontfamily: 'DIN Pro', widget_colordate: '000', widget_colorlink: '0000FF' };
                    (function() {
                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.async = true;
                        script.src = "http://www.yadonor.ru/scripts/widget.min.js";
                        document.getElementsByTagName('head')[0].appendChild(script);
                    })();
                </script>
            </div>*@

            <div class="frame shadow">
                <h1>Добро пожаловать</h1>

                <a href="/">Ссылка</a>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</p>
            </div>
            
        </div>
    </main>
    @Html.Partial("_Footer")
</body>
</html>