
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
</head>
<body>
    <header>
        <div class="">
            <p>Хэдер</p>
        </div>
    </header>
    <main>
        <div class="wrap">
            <h1>Добро пожаловать</h1>
            <a>Ссылка</a>
            <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</p>
        </div>
    </main>
    <footer>
        <div class="">
            <p>Футер</p>
        </div>
    </footer>
</body>
</html>