
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.slides.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="wrap">

            <div class="search shadow" id="slides">
                <img src="http://placehold.it/940x400">
                <img src="http://placehold.it/940x400">
            </div>

            <div class="frame shadow search">
                <div class="search-content">
                    <h2 class="search-title">Поиск объявлений</h2>
                    <form method="get" action="/search">
                        <div class="search-row">

                            <div class="search-row__item">
                                <select name="Type">
                                    <option selected disabled>Выберите тип объявления</option>
                                    <option value="donor">Донор</option>
                                    <option value="recipient">Реципиент</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <select name="Cat">
                                    <option selected disabled>Выберите группу крови</option>
                                    <option value="1">O(I) Rh−</option>
                                    <option value="2">O(I) Rh+</option>
                                    <option value="3">A(II) Rh−</option>
                                    <option value="4">A(II) Rh+</option>
                                    <option value="5">B(III) Rh−<</option>
                                    <option value="6">B(III) Rh+</option>
                                    <option value="7">AB(IV) Rh−</option>
                                    <option value="8">AB(IV) Rh+</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <select name="Ct">
                                    <option selected disabled>Выберите город</option>
                                    <option value="1">Москва</option>
                                    <option value="31">Белгород</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <input type="submit" class="btn btn--red search-btn" value="Поиск" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="frame shadow info">
                <div class="info-content">
                    <h2 class="info-title">Общая информация</h2>
                    <p>BloodSearch - крупнейшай площадка для быстрого поиска донора крови. На данной площадке пользователи могут помогать нуждающимся. Требуется создать объявление.</p>
                    <br />
                    <table border="1" class="info-table">
                        <caption>Таблица совместимости</caption>
                        <tbody>
                            <tr>
                                <th rowspan="2">Реципиент</th>
                                <th colspan="8">Донор</th>
                            </tr>
                            <tr>
                                <th style="width:6em">O(I) Rh−</th>
                                <th style="width:6em">O(I) Rh+</th>
                                <th style="width:6em">A(II) Rh−</th>
                                <th style="width:6em">A(II) Rh+</th>
                                <th style="width:6em">B(III) Rh−</th>
                                <th style="width:6em">B(III) Rh+</th>
                                <th style="width:6em">AB(IV) Rh−</th>
                                <th style="width:6em">AB(IV) Rh+</th>
                            </tr>
                            <tr>
                                <th>O(I) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>O(I) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>A(II) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>A(II) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>B(III) Rh−</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>B(III) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>AB(IV) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>AB(IV) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script>
        $(function () {

            $("#slides").slidesjs({
                width: 940,
                height: 400,
                navigation: {
                    active: false,
                    effect: "slide"
                },
                pagination: {
                    active: false,
                    effect: "slide"
                },
                play: {
                    active: true,
                    effect: "slide",
                    interval: 5000,
                    auto: true,
                    swap: true,
                    pauseOnHover: false,
                    restartDelay: 2500
                }
            });

            $('.slidesjs-stop').hide();
        });
    </script>
</body>
</html>