
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.slides.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=package.full"></script>
</head>
<body>
    @Html.Partial("_Header", 1)
    <main>
        <div class="wrap">
            <div class="search shadow" id="slides">
                <img src="~/Content/img/1.jpg">
                <img src="~/Content/img/2.jpg">
            </div>

            <div class="frame shadow search">
                <div class="search-content">
                    <h1 class="search-title">Поиск объявлений</h1>
                    <form method="get" action="/search/">
                        <div class="search-row">
                            <div class="search-row__item">
                                <h3 class="search-row__item-title">Тип объявления:</h3>
                                <select id="type" name="Type">
                                    <option selected value="3">Не выбрано</option>
                                    <option value="1">Донор</option>
                                    <option value="2">Реципиент</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <h3 class="search-row__item-title">Категория крови:</h3>
                                <select id="category" name="Cat">
                                    <option selected>Не выбрано</option>
                                    <option value="1">O(I) Rh−</option>
                                    <option value="2">O(I) Rh+</option>
                                    <option value="3">A(II) Rh−</option>
                                    <option value="4">A(II) Rh+</option>
                                    <option value="5">B(III) Rh-</option>
                                    <option value="6">B(III) Rh+</option>
                                    <option value="7">AB(IV) Rh−</option>
                                    <option value="8">AB(IV) Rh+</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <h3 class="search-row__item-title">Регион:</h3>
                                <select id="address" name="Reg">
                                    <option selected>Не выбрано</option>
                                    <option value="53000056">Адыгея</option>
                                    <option value="53000015">Алтайский край</option>
                                    <option value="53000016">Амурская область</option>
                                    <option value="53000017">Архангельская область</option>
                                    <option value="53000018">Астраханская область</option>
                                    <option value="53000058">Башкортостан</option>
                                    <option value="53000019">Белгородская область</option>
                                    <option value="53000020">Брянская область</option>
                                    <option value="53000059">Бурятия</option>
                                    <option value="53000021">Владимирская область</option>
                                    <option value="53000022">Волгоградская область</option>
                                    <option value="53000023">Вологодская область</option>
                                    <option value="53000024">Воронежская область</option>
                                    <option value="53000060">Дагестан</option>
                                    <option value="53000025">Еврейская автономная область</option>
                                    <option value="53000026">Забайкальский край</option>
                                    <option value="53000027">Ивановская область</option>
                                    <option value="53000061">Ингушетия</option>
                                    <option value="53000028">Иркутская область</option>
                                    <option value="53000029">Кабардино-Балкария</option>
                                    <option value="53000030">Калининградская область</option>
                                    <option value="53000062">Калмыкия</option>
                                    <option value="53000031">Калужская область</option>
                                    <option value="53000032">Камчатский край</option>
                                    <option value="53000033">Карачаево-Черкесия</option>
                                    <option value="53000034">Кемеровская область</option>
                                    <option value="53000035">Кировская область</option>
                                    <option value="53000036">Костромская область</option>
                                    <option value="53000037">Краснодарский край</option>
                                    <option value="53000038">Красноярский край</option>
                                    <option value="53000039">Курганская область</option>
                                    <option value="53000040">Курская область</option>
                                    <option value="53000041">Ленинградская область</option>
                                    <option value="53000042">Липецкая область</option>
                                    <option value="53000043">Магаданская область</option>
                                    <option value="53000065">Марий Эл</option>
                                    <option value="53000066">Мордовия</option>
                                    <option value="53000094">Москва</option>
                                    <option value="53000044">Московская область</option>
                                    <option value="53000045">Мурманская область</option>
                                    <option value="53000119">Ненецкий автономный округ</option>
                                    <option value="53000046">Нижегородская область</option>
                                    <option value="53000047">Новгородская область</option>
                                    <option value="53000048">Новосибирская область</option>
                                    <option value="53000049">Омская область</option>
                                    <option value="53000050">Оренбургская область</option>
                                    <option value="53000051">Орловская область</option>
                                    <option value="53000052">Пензенская область</option>
                                    <option value="53000053">Пермский край</option>
                                    <option value="53000054">Приморский край</option>
                                    <option value="53000055">Псковская область</option>
                                    <option value="53000057">Республика Алтай</option>
                                    <option value="53000063">Республика Карелия</option>
                                    <option value="53000064">Республика Коми</option>
                                    <option value="1444278541">Республика Крым</option>
                                    <option value="53000072">Ростовская область</option>
                                    <option value="53000073">Рязанская область</option>
                                    <option value="53000074">Самарская область</option>
                                    <option value="53152804">Санкт-Петербург</option>
                                    <option value="53000075">Саратовская область</option>
                                    <option value="53000076">Сахалинская область</option>
                                    <option value="53000077">Свердловская область</option>
                                    <option value="1443782437">Севастополь</option>
                                    <option value="53000068">Северная Осетия</option>
                                    <option value="53000078">Смоленская область</option>
                                    <option value="53000079">Ставропольский край</option>
                                    <option value="53000080">Тамбовская область</option>
                                    <option value="53000069">Татарстан</option>
                                    <option value="53000081">Тверская область</option>
                                    <option value="53000082">Томская область</option>
                                    <option value="53000083">Тульская область</option>
                                    <option value="53000070">Тыва</option>
                                    <option value="53000084">Тюменская область</option>
                                    <option value="53000085">Удмуртия</option>
                                    <option value="53000086">Ульяновская область</option>
                                    <option value="53000087">Хабаровский край</option>
                                    <option value="53000071">Хакасия</option>
                                    <option value="53000120">Ханты-Мансийский автономный округ</option>
                                    <option value="53000088">Челябинская область</option>
                                    <option value="53000089">Чечня</option>
                                    <option value="53000090">Чувашия</option>
                                    <option value="53000091">Чукотский автономный округ</option>
                                    <option value="53000067">Якутия</option>
                                    <option value="53000121">Ямало-Ненецкий автономный округ</option>
                                    <option value="53000092">Ярославская область</option>
                                </select>
                            </div>
                            <div class="search-row__item-btn">
                                <input type="submit" class="btn btn--red search-btn" value="Поиск" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="frame shadow info">
                <div class="info-content">
                    <h1 class="info-title">Общая информация</h1>
                    <p>
                        Донорством называют добровольную сдачу крови или ее компонентов.
                        Отобранные ткани применяются в дальнейшем для научно-исследовательских работ, производства ингредиентов, лекарственных препаратов и другой медицинской продукции.
                        Клиническое использование донорской крови состоит в ее переливании (или трансфузии) в лечебных целях другому человеку, которого называют реципиентом, а также для пополнения специальных банков. Согласно расчетам, на каждую тысячу населения должно приходиться от 40 человек из тех, кто может стать постоянными донорами.
                    </p>
                    <br />
                    <p class="info__block-title">Таблица совместимости крови</p>
                    <table border="1" class="info-table">
                        <tbody>
                            <tr>
                                <th rowspan="2">Реципиент</th>
                                <th colspan="8">Донор</th>
                            </tr>
                            <tr>
                                <th style="width:6em">O(I) Rh−</th>
                                <th style="width:6em">O(I) Rh+</th>
                                <th style="width:6em">A(II) Rh−</th>
                                <th style="width:6em">A(II) Rh+</th>
                                <th style="width:6em">B(III) Rh−</th>
                                <th style="width:6em">B(III) Rh+</th>
                                <th style="width:6em">AB(IV) Rh−</th>
                                <th style="width:6em">AB(IV) Rh+</th>
                            </tr>
                            <tr>
                                <th>O(I) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>O(I) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>A(II) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>A(II) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>B(III) Rh−</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>B(III) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>AB(IV) Rh-</th>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                                <td class="info-plus">+</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>AB(IV) Rh+</th>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                                <td class="info-plus">+</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p class="info__block-title">Посмотрите видео</p>
                    <iframe class="info__video" src="https://www.youtube.com/embed/z7pLD4rSURg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script>
        $(function () {

            $("#slides").slidesjs({
                width: 940,
                height: 400,
                navigation: {
                    active: false,
                    effect: "slide"
                },
                pagination: {
                    active: false,
                    effect: "slide"
                },
                play: {
                    active: true,
                    effect: "slide",
                    interval: 15000,
                    auto: true,
                    swap: true,
                    pauseOnHover: false,
                    restartDelay: 2500
                }
            });

            $('.slidesjs-stop').hide();
        });


    </script>
</body>
</html>

