
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=package.full"></script>
</head>
<body>

    @Html.Partial("_Header", 0)

    <main>
        <div class="wrap">
            <div id="myMap" style="height: 650px; margin-bottom: 20px;"></div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script type="text/javascript">
        $(function () {
            ymaps.ready(function () {
                myMap = new ymaps.Map("myMap", {
                    center: [50.595660, 36.587223],
                    zoom: 10
                });

                var searchControl = new ymaps.control.SearchControl({
                    options: {
                        provider: 'yandex#search'
                    }
                });

                myMap.controls.add(searchControl);

                searchControl.search('Пункты сдачи крови');
            });
        });
    </script>
</body>
</html>