.offers {

    &__title {
        margin: 0 0 2rem 3rem;
        color: black;
    }

    &__field {
        margin-top: 15px;
    }

    &__link {
        padding-top: 0.5rem;

        a {
            text-decoration: none;
            color: $red;
        }
    }
}
