.offers {

    &__title {
        margin: 0 0 2rem 3rem;
        color: black;
    }

    &__field {
        margin-top: 15px;
    }

    &__field-address {
        margin-top: -0.5rem;
    }

    &__link-box {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $red;
            font-weight: bold;
        }

        &__item {
            display: flex;
        }

        &__link {
            text-decoration: none;
            cursor: pointer;
            color: $red;
            font-weight: bold;
        }
    }
}
