<footer class="footer">
    <div class="main-page__content">
        <div class="footer__content">
            <div class="footer__col">
                <div class="footer__copyright">
                    <div class="footer__copyright-company">
                        <div class="footer__copyright-company-name">
                            <span>BloodSearch.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <nav class="footer__nav">
                    <a class="footer__nav-item" href="/">О донорстве</a>
                    <a class="footer__nav-item" href="/">Пункты сдачи крови</a>
                </nav>
            </div>
            <div class="footer__col">
                <p class="footer__contacts">
                    <a href="mailto:support@bloodsearch.com">support@bloodsearch.com</a><br />
                    8 910 745 06 76
                </p>
            </div>
        </div>
    </div>
</footer>