<footer class="footer">
    <div class="main-page__content">
        <div class="footer__content">
            <div class="footer__col">
                <div class="footer__copyright">
                    <div class="footer__copyright-company">
                        <div class="footer__copyright-company-name">
                            <span>BloodSearch.com</span>
                        </div>
                    </div>
                    <div>
                        ©&nbsp;2017&nbsp;— 2017&nbsp;г.
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <nav class="footer__nav">
                    <a class="footer__nav-item" href="/about/">О проекте</a>
                    <a class="footer__nav-item" href="/agreement/">Пользовательское соглашение</a>
                </nav>
            </div>
            <div class="footer__col">
                <p class="footer__contacts">
                    <a href="mailto:support@bloodsearch.com">support@bloodsearch.com</a><br>
                    8 800 355 22 02
                </p>
            </div>
        </div>
    </div>
</footer>