<footer class="main-footer main-page-footer">
    <div class="main-page__content">
        <div class="main-page-footer__content">
            <div class="main-page-footer__col">
                <div class="main-page-footer__copyright">
                    <div class="main-page-footer__copyright-company">
                        <div class="main-page-footer__copyright-company-name">
                            <span>Akula.com</span>
                        </div>
                    </div>
                    <div>
                        ©&nbsp;2016&nbsp;— 2017&nbsp;г.
                    </div>
                </div>
            </div>
            <div class="main-page-footer__col">
                <nav class="main-page-footer__nav">
                    <a class="main-page-footer__nav-item" href="/about/">О проекте</a>
                    <a class="main-page-footer__nav-item" href="/agreement/">Пользовательское соглашение</a>
                </nav>
            </div>
            <div class="main-page-footer__col">
                <p class="main-page-footer__contacts">
                    <a href="mailto:support@akula.com">support@akula.com</a><br>
                    8 800 707 42 01
                </p>
            </div>
        </div>
    </div>
</footer>