<header class="main-header">
    <div class="wrap">
        <div class="main-header__content">
            <div class="main-header__item">
                <a class="logo" href="/">
                    <img src="~/content/img/logo.png" alt="">
                </a>
                <nav class="main-menu">
                    <span class="main-menu__item active">Главная</span>
                    <a class="main-menu__item" href="/search">Поиск</a>
                </nav>
            </div>
            <div class="main-header__item header-nav">
                <a class="header-nav__item header-nav__item--black pseudo" href="/additem/">Создать объявление</a>
                <!--<span class="header-nav__item header-nav__item--black pseudo">Войти</span>-->
                <a href="/login/" class="header-nav__item header-nav__item--black pseudo">Войти</a>

            </div>



        </div>
    </div>
</header>